/* Mobile & table */
@media (max-width: 1023px) {
  .mobile-category__list {
    display: block;
  }
  .header__sort-bar {
    position: fixed;
    top: 90px;
    background-color: #fff;
    list-style: none;
    margin: 0;
    padding-left: 0;
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
    display: flex;
    z-index: 3;
    /* display: none; */
    width: 100%;
  }
  .header__sort-item {
    flex: 1;
    height: 35px;
    line-height: 35px;
  }
  .header__sort-link {
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.5rem;
    display: block;
    height: 100%;
    text-align: center;
    position: relative;
  }
  .header__sort-link::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    height: 60%;
    border-left: 1px solid #e5e5e5;
    transform: translateY(-50%);
  }
  .header__sort-item--active .header__sort-link {
    color: var(--primary-color);
  }
  .mobile-category__list {
    display: flex;
    list-style: none;
    padding-left: 0;
    max-width: 100%;
    overflow-x: auto;
  }
  .mobile-category__item {
    flex-shrink: 0;
    margin-right: 10px;
  }

  .mobile-category__item:nth-of-type(3n + 1) .mobile-category__link {
    background-color: #87afd8;
  }
  .mobile-category__item:nth-of-type(3n + 2) .mobile-category__link {
    background-color: #76c9bd;
  }
  .mobile-category__item:nth-of-type(3n + 3) .mobile-category__link {
    background-color: #88cf81;
  }

  .mobile-category__link {
    --line-height: 2rem;
    text-decoration: none;
    color: var(--white-color);
    font-size: 1.4rem;
    line-height: var(--line-height);
    height: calc(var(--line-height) * 2);
    overflow: hidden;
    text-align: center;
    width: 110px;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    border-radius: 4px;
    font-weight: 300;
    user-select: none;
    -webkit-user-select: none;
    padding: 0 6px;
  }
  .home-filter,
  .category {
    display: none;
  }
  .mobile-category__list::-webkit-scrollbar {
    display: none;
  }
}
/* table */
@media (min-width: 740px) and (max-width: 1023px) {
  :root {
    --header-height: 68px;
    --navbar-height: 0px;
  }
  .category_page .header__navbar-mini {
    display: none;
  }
  .category_page .header {
    height: 90px;
  }

  .category_page .wide {
    width: 664px;
  }
  .app__container {
    margin-top: 105px;
  }
}

/* Moblie */
@media (max-width: 739px) {
  .header__sort-bar {
    position: fixed;
    top: 50px;
    z-index: 2;
  }
  .app__container {
    margin-top: 55px;
  }

  :root {
    --header-height: 54px;
    --navbar-height: 0px;
  }

  .pagination-item {
    margin: 0;
  }

  .pagination-item__link {
    --height: 28px;
    font-size: 1.6rem;
    min-width: 36px;
  }

  .app__content {
    margin: 0 4px;
  }

  .header__mobile-search {
    display: block;
  }

  .header__logo-img {
    width: 110px;
  }
  .footer__content {
    padding: 0 16px;
  }
  .footer__heading {
    text-align: center;
  }
  .footer__download,
  .footer-item__link {
    justify-content: center;
  }
  .footer__download-apps {
    flex: unset;
  }
  .footer__download-apps-links {
    display: block;
    padding: 6px 8px;
  }
  .mobile-category__list {
    margin: 22px 0px 10px;
  }
}
